<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <%- title %>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"></link>
        <style type="text/css">
            #react-root {
                margin: 0 auto;
                width: 900px;
            }
            <%- css %>
        </style>
    </head>
    <body>
        <div id="react-root"><%- app %></div>
        <script src="./app.js"></script>
    </body>
</html>
